
		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: 'Josefin Sans', sans-serif;
		}
		body{
			background-color: lightblue;
		}
			
		.main{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		
		}
		
		.content{
		
			text-align: center;
			}
		
		.content h1{
			 font-family: 'Kufam', cursive; 

		}
		
		#message{
			font-family: 'Kumbh Sans', sans-serif;
		
		}
		
		#text{
			font-size: 20px;
			width: 85%;
			border-radius: 8px;
		}
			textarea:focus{
				
				animation: border-color-change;
				animation-duration: 10s;
				animation-fill-mode: forwards;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				
			}
		#start-btn:hover{
			background-color: rgb(36, 216, 156);
		}
		.btn{
			margin-top: -25px;
			margin-left: 6%;
		}
		i{
			margin-top: 10px;
			color:blue;
		}
		.header {
			max-width: 400px;
			max-height: 100px;
			margin-left: 36%;
			border-radius: 5px;
		background-color: #0c019c;
		padding: 20px;
		text-align: center;
		}